<div class="container">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">{{$ctrl.photoSelected.name}}</h3>
        </div>
        <div class="modal-body flex-vertical" id="modal-body">
            <img src="{{$ctrl.photoSelected.url}}" class="image-modal">
            <div style="margin-top: 20px;">
                <b>{{'category' | translate}} : </b>{{$ctrl.photoSelected.category}}
            </div>
            <div class="flex-horizental">
                <i class="glyphicon glyphicon-tags" style="margin-right: 10px;"></i> <span ng-repeat="tag in $ctrl.photoSelected.tags">{{tag}},</span>
            </div>
            <div>
                <b>Description :</b> {{$ctrl.photoSelected.description}}
            </div>


        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">{{'cancel' | translate}}</button>
        </div>
    </script>
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2>{{'gallery' | translate}}</h2>
            <hr/>
        </div>

        <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
            <div class="form-group form-inline">
                <input ng-change="changeFilter()" name="filter" type="text" ng-model="filter" class="form-control" placeholder="{{'keyword' | translate}}">
                <select name="category" ng-change="changeCategory()" ng-model="category" class="form-control" ng-options="category for category in categories" title="Category">
                    <option value>{{'category' | translate}}</option>
                </select>
            </div>
        </div>

        <br/>



        <div ng-repeat="photo in searchphotos" class="gallery_photo col-lg-4 col-md-4 col-sm-4 col-xs-6 flex-vertical">
            <img src="{{photo.url}}" class="img-gallery" ng-click="open(undefined,undefined,photo)">
            <span style="margin-top: 10px;"><b>{{photo.name}}</b></span>
            <span>{{photo.category}}</span>
        </div>
    </div>
</div>
